@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
body,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Rubik", sans-serif;
}

* {
  box-sizing: border-box;
}

.header {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 330px;
  padding: 30px;
}

.logo-wraap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav {
  display: flex;
  gap: 50px;
}

.nav-linhk {
  text-decoration: none;
  color: black;
}

.login-bat {
  background: #19bce4;
  color: white;
  width: 96px;
  height: 40px;
  border: #19bce4;
  border-radius: 10px;
}

.hamburger {
  display: none;
}

@media (max-width: 1000px) {
  .hamburger {
    display: inline-flex;
    margin-left: auto;
  }
  .header {
    gap: 50px;
  }
  .nav {
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100vh;
    box-shadow: -1px 0 3px #000;
    flex-direction: column;
    transform: translateX(calc(100% + 10px));
    align-items: center;
    justify-content: center;
    background: #f2f2f2;
    transition: 0.5s;
  }
  .nav.is-active {
    transform: translateX(0);
  }
}
@media (max-width: 1500px) {
  .header {
    gap: 50px;
    align-items: center;
    justify-content: center;
  }
}
.glav-2-wrap {
  background: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)), url(../img/back.png);
  height: 1000px;
  background-size: cover;
}

.glav-2 {
  max-width: 1170px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.prais-glav-2-wrap {
  min-height: 150px;
  background: #ffffff;
  display: flex;
  padding: 24px;
  margin: 10px;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;
  margin-top: 97px;
}

.taitel-glav-2,
.text-glav-2 {
  color: #ffffff;
  padding: 10px;
}

.taitel-glav-2 {
  font-size: 64px;
}

.text-glav-2 {
  text-align: center;
  font-size: 20px;
  max-width: 650px;
  margin: 2rem auto;
}

.select {
  border: #f2f2f2;
  font-size: 20px;
  width: 100%;
}

.taitel-selekt {
  align-items: center;
  gap: 10px;
  color: black;
}

.slect-wrap-1 {
  width: 259px;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.slect-wrap-2 {
  width: 94px;
  height: 23px;
  text-align: start;
  align-items: center;
  display: flex;
}

.slect-wrap-3 {
  width: 94px;
  height: 23px;
  text-align: start;
}

.select-2 {
  border: #f2f2f2;
  font-size: 20px;
}

.select-3 {
  border: #f2f2f2;
  font-size: 20px;
}

.bat-prais {
  width: 259px;
  height: 71px;
  background: #19bce4;
  color: white;
  border: #19bce4;
}

@media (max-width: 768px) {
  .prais-glav-2-wrap {
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
  }
}
.glav-3 {
  display: flex;
  padding: 100px;
  gap: 50px;
}

.glav-3-img-1 {
  position: relative;
}

.glav-3-2-img {
  position: absolute;
  left: 450px;
  top: 1720px;
}

.taitel-wrap-glav-3 {
  flex-wrap: wrap;
  padding: 80px;
}

.glav-3-2 {
  display: flex;
  gap: 30px;
  padding: 50px 0;
}

.glav-3 {
  gap: 40px;
  align-items: center;
}

.glav-taitel-3-2 {
  font-size: 48px;
}

.bat-glav-3 {
  width: 169px;
  height: 56px;
  background: #19bce4;
  border: #19bce4;
  border-radius: 6px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 908px) {
  .glav-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  .glav-3-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
  }
  .taitel-wrap-glav-3 {
    padding: 30px;
  }
  .taitel-glav-4 {
    padding: 20px;
  }
}
@media (max-width: 1420px) {
  .glav-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    gap: 10px;
  }
  .glav-3-2-img {
    display: none;
  }
}
.glav-4 {
  display: flex;
  padding: 100px;
  align-items: center;
  gap: 80px;
}

.info-glav-4 {
  display: flex;
  align-items: center;
  gap: 28px;
  padding: 15px 0;
}

.taitel-glav-4 {
  font-size: 48px;
  padding: 0 100px;
}

@media (max-width: 1141px) {
  .glav-4 {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 1141px) {
  .glav-4 {
    padding: 20px;
  }
  .taitel-glav-4 {
    padding: 20px;
  }
}
.img-glav-4 {
  width: 100%;
}

.glav-5 {
  text-align: center;
}

.img-wrap-glav-5 {
  padding: 100px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.row-2 {
  grid-row: span 2;
}

.img-glav-5-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: flex;
  position: relative;
}

.img-glav-wrap-2-1 {
  position: relative;
}

.block-info-glav-5-2 {
  width: 200px;
  height: 88px;
  background: rgba(0, 95, 119, 0.5960784314);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

.block-glav-5-2 {
  position: absolute;
  width: 200px;
  height: 88px;
  background: rgba(0, 95, 119, 0.5960784314);
  position: absolute;
  left: 220px;
  top: 3080px;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

.glav-6 {
  display: flex;
  align-items: center;
  padding: 0 100px;
}

.img-glav-6-wrap {
  width: 100%;
}

@media (max-width: 1140px) {
  .img-wrap-glav-5 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 850px) {
  .img-wrap-glav-5 {
    grid-template-columns: repeat(1, 1fr);
  }
  .block-info-glav-5-2 {
    width: 150px;
    height: 58px;
    font-size: 10px;
  }
}
.bat-glav-6-taitel {
  background: #19bce4;
  border-radius: 6px;
  width: 190px;
  height: 56px;
  border: #19bce4;
  display: flex;
  align-items: center;
  color: #ffffff;
  justify-content: center;
  gap: 20px;
}

@media (max-width: 1340px) {
  .glav-6 {
    flex-wrap: wrap;
    padding: 20px;
    text-align: center;
  }
  .bat-glav-6-taitel {
    margin: 0 auto;
  }
}
.glav-6-img {
  width: 100%;
}

.taitel-glav-6-wrap {
  width: 700px;
  height: 700px;
}

.img-glav-6-wrap {
  width: 700px;
  height: 700px;
}

/*# sourceMappingURL=lord.css.map */

/*# sourceMappingURL=lord.css.map */
